<footer class="footer text-center bg-primary" id="contact">
    <div class="container">
      <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">
            Bontang,
            <br />
            Indonesia
          </p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact Me On Social Media</h4>
          <a
            title="Thomas's email"
            class="btn btn-outline-light btn-social mx-1"
            target="_blank"
            href="https://www.linkedin.com/in/thomas-dwi-a-b5255412b/"
            ><i class="fab fa-fw fa-linkedin-in"></i
          ></a>
          <a
            title="Thomas's Instagram"
            class="btn btn-outline-light btn-social mx-1"
            target="_blank"
            href="https://www.instagram.com/thomasdwi.a/"
            ><i class="fab fa-fw fa-instagram"></i
          ></a>
          <a
            title="Thomas's Facebook"
            class="btn btn-outline-light btn-social mx-1"
            target="_blank"
            href="https://www.facebook.com/lukasawakaa"
            ><i class="fab fa-fw fa-facebook-f"></i
          ></a>
          <a
            title="Thomas's Youtube"
            class="btn btn-outline-light btn-social mx-1"
            href="https://www.youtube.com/channel/UC6vfTjM4T1MQnHLUv9szUiA"
            target="_blank"
            ><i class="fab fa-fw fa-youtube"></i
          ></a>
          <a
            title="Thomas's Github Repo"
            class="btn btn-outline-light btn-social mx-1"
            target="_blank"
            href="https://github.com/Misdinar"
            ><i class="fab fa-fw fa-github"></i
          ></a>
          <a
            title="Thomas's Gitlab Repo"
            class="btn btn-outline-light btn-social mx-1"
            target="_blank"
            href="https://gitlab.com/Misdinar"
            ><i class="fab fa-fw fa-gitlab"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white bg-secondary-dark">
    <div class="container"><small>Copyright © Misdinar 2021</small></div>
  </div>
