<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  aria-labelledby="portfolioModal1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                PPDB SD & SMP Surabaya 2022
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/web-ppdb.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4 text-black">
                Became a manual tester in Penerimaan Peserta Didik Baru (PPDB)
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://ppdbsd.surabaya.go.id/"
                  target="_blank"
                  >PPDB SD 2022</a
                >
              </button>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://ppdb.surabaya.go.id/"
                  target="_blank"
                  >PPDB SMP 2022</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  aria-labelledby="portfolioModal2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                Detector-19
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/detector-19.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4 text-black">
                expert system for diagnosis of possible infection by the
                COVID-19 virus using SWI prolog.
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://github.com/Misdinar/Detector-19"
                  target="_blank"
                  >Try Detector-19 Now!</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  aria-labelledby="portfolioModal3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                E-sertifikasi Kominfo 2021
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/esertifikasi.PNG"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">
                Updating the old website from the Direktorat Jenderal Sumber
                Daya dan Perangkat Pos dan Informatika. Now named
                e-certification new generation
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://sertifikasi.postel.go.id/"
                  target="_blank"
                  >Visit Now!</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  aria-labelledby="portfolioModal4"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                Hand Classification
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/klasifkasi tangan.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">
                A simple Machine Learning to classify hand drawings (scissors,
                rock, paper) A Final Project of Machine Learning Class for
                Beginners by Dicoding Indonesia
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://github.com/Misdinar/Klasifikasi-Gambar-Tangan"
                  target="_blank"
                  >Try it with your own hand!</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal5"
  tabindex="-1"
  aria-labelledby="portfolioModal5"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                Twibboner V1
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/program twibboner.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">
                Applications for Making Twibbons and Podcast Covers
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://github.com/Misdinar/Twibboner_V1"
                  target="_blank"
                  >Try it now!</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal6"
  tabindex="-1"
  aria-labelledby="portfolioModal6"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                SanberNews
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/portfolio/web sanber.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">
                FP sederhanaberupa web berita. Hasil dari bootcamp dari Sanber
                Kelas Laravel - Web Development (Batch 27)
              </p>
              <p class="mb-4">FP = Failed Project 😭</p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <a
                  class="text-white"
                  style="text-decoration: none"
                  href="https://gitlab.com/raihaanalif/sanbernews-finalproject"
                  target="_blank"
                  >Visit now!</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
