<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white mb-0">
      Portfolio
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal1"
        >
          <div
            class="
              portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            "
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>

          <img
            class="img-fluid"
            src="assets/img/portfolio/detector-19.png"
            alt="detector-19"
          />
        </div>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal2"
        >
          <div
            class="
              portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            "
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/portfolio/konsultan.png"
            alt="e-sertifikasi"
          />
        </div>
      </div>
      <!-- Portfolio Item 3-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal3"
        >
          <div
            class="
              portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            "
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/portfolio/klasifkasi.png"
            alt="klasifkasi tangan"
          />
        </div>
      </div>
      <!-- Portfolio Item 4-->
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal4"
        >
          <div
            class="
              portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            "
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/portfolio/twibboner.png"
            alt="twibboner v1"
          />
        </div>
      </div>
      <!-- Portfolio Item 5-->
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal5"
        >
          <div
            class="
              portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            "
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/portfolio/sanbernews.png"
            alt="sanbernews"
          />
        </div>
      </div>
    </div>
  </div>
</section>
